<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.apis.cerana">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="AllowBackup">
    <activity android:name=".view.EditProfileActivity">
    </activity>
    <activity
        android:name=".view.ImageActivity"
        android:label="@string/upload_ktp">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.HomeActivity"/>
    </activity>
    <activity
        android:name=".view.WithdrawActivity"
        android:label="@string/withdraw">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.HomeActivity"/>
    </activity>
    <activity
        android:name=".view.RequestStupActivity"
        android:label="@string/request_stup">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.HomeActivity"/>
    </activity>
    <activity
        android:name=".view.qr.ResultQrActivity"
        android:label="Result QR"
        android:screenOrientation="portrait">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.HomeActivity"/>
    </activity>
    <activity
        android:name=".view.qr.QrActivity"
        android:label="@string/qr"
        android:screenOrientation="portrait">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.HomeActivity"/>
    </activity>
    <activity
        android:name=".view.HomeActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name=".LoginActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name=".MainActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>